alias sudo='sudo '

alias cat='bat --theme="Nord" --italic-text=always'

alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias ip='ip --color=auto'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '
alias hgrep='fc -El 0 | grep'

alias t='tail -f'

alias ls='lsd --group-dirs first'
alias l='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias lr='ls -R'
alias lt='ls --tree'
alias lts='l --total-size'

alias dud='du -d 1 -h'
alias duf='du -sh *'

alias fdd='fd -t d'
alias fdf='fd -t f'

alias df='df -h'
alias free='free -m'

alias more='less'
alias vim='nvim'
alias aw='awman'

alias ua='antibody bundle < ~/.zsh_plugins > ~/.zsh_plugins.sh'
alias yu='yaa && yc && yp'
alias uy='yf && ym'
alias yec='yadm encrypt'
alias ydc='yadm decrypt'
alias ur='sudo reflector --protocol http --protocol https --verbose --latest 100 --sort rate --save /etc/pacman.d/mirrorlist'
alias par='prettyping archlinux.org'
alias zshrc='${=EDITOR} ~/.zshrc'

alias battery='upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep -E "state|to\ full|percentage"'
alias pacwall='pacwall -b "#323D43" -s "#D8CAAC22" -d "#E68183AA" -e "#89BEBAAA" -p "#A7C080AA" -f "#D3A0BCAA" -u "#D9BB80AA" -r 0.6 -o ${HOME}/Pictures/walls/pacwall.png'
alias clock='tty-clock -s -c -D -C 6'
alias yay='yay --nocleanmenu --nodiffmenu --noeditmenu --removemake'
alias yaupg='yay -Syu && pacwall'

alias vpn='expressvpn'
alias vpna='expressvpn activate'
alias vpnc='expressvpn connect'
alias vpncs='expressvpn connect smart'
alias vpnd='expressvpn disconnect'
alias vpns='expressvpn status'
alias vpnl='expressvpn list'
alias vpnla='expressvpn list all'
alias vpnr='expressvpn refresh'
alias vpnp='expressvpn preferences'
alias vpnh='expressvpn help'
alias vpnlock='expressvpn preferences set network_lock on'
alias vpnunlock='expressvpn preferences set network_lock off'

alias asm='adb-sync ~/Music/ /sdcard/Music/'
alias asm2='adb-sync -2 ~/Music/ /sdcard/Music/'
alias asmd='adb-sync -d ~/Music/ /sdcard/Music/'
alias asmr='adb-sync -R /sdcard/Music/ ~/Music/'
alias asmrd='adb-sync -R -d /sdcard/Music/ ~/Music/'
