* {
  border-color: #505a60 !important;
}
a {
  color: #a7c080 !important;
}
a:visited {
  color: #87c095 !important;
}
body {
  background-color: #323d43 !important;
  color: #d8caac !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #d8caac !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #d8caac !important;
}
* {
  border-color: #505a60 !important;
}
a {
  color: #a7c080 !important;
}
a:visited {
  color: #87c095 !important;
}
body {
  background-color: #323d43 !important;
  color: #d8caac !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #d8caac !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #d8caac !important;
}
