html {
  background-color: #2e3440 !important;
}
html body,
html div,
html div * {
  background-color: rgba(46,52,64,0.5) !important;
  color: #eceff4 !important;
  text-shadow:none !important;
}
html body div * {
  border-color: #3b4252 !important;
  text-shadow:none !important;
}
html body div a {
  text-shadow:none !important;
  color: #88c0d0 !important;
}
html body div a:visited {
  color: #81a1c1 !important;
}
html body input,
html body textarea {
  background-color: #2e3440 !important;
  color: #eceff4 !important;
}
* {
  border-color: #2e3440 !important;
}
a {
  color: #88c0d0 !important;
}
a:visited {
  color: #81a1c1 !important;
}
body {
  background-color: #2e3440 !important;
  color: #eceff4 !important;
}
html {
  background-color: #2e3440 !important;
}
input,
textarea {
  background-color: #2e3440 !important;
  color: #eceff4 !important;
}
blockquote,
pre {
  background-color: #2e3440 !important;
  color: #eceff4 !important;
}
* {
  border-color: #2e3440 !important;
}
a {
  color: #88c0d0 !important;
}
a:visited {
  color: #81a1c1 !important;
}
body {
  background-color: #3b4252 !important;
  color: #eceff4 !important;
}
html {
  background-color: #2e3440 !important;
}
input,
textarea {
  background-color: #2e3440 !important;
  color: #eceff4 !important;
}
